<html>
  <h1>ADD GAME</h1>
  <form action="/addGame" method="POST">
    <input name="name" placeholder="name">
    <input name="link" placeholder="link">
    <button>Submit</button>
    
  </form>
  <a href="/removeGamePage">Remove Game</a>
  <br>
  <a href="/user">home</a>

  







<style>

  body {
    background: url('bg2.png');
    background-size: cover;
    text-align: center;
    color: #f4f4f4;
  }
  
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    
  }

  input {
    margin: 5px;
    padding: 5px 10px;
    background: #f4f4f4;
border: 1px solid #dedede;
  }

  button {
    border: 1px;
    padding: 5px 10px;
  }

  a {
    text-decoration: none;
    color: #f4f4f4;
  }

  
</style>






















  
</html>